body {
    font-family: 'Quicksand';
    background-color: lightgoldenrodyellow;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

.groupGame {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 300px;
    margin: 20px auto;
}

.cell {
    font-family: 'Quicksand';
    width: 100px;
    height: 100px;
    border: 3px solid blue;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}