body {
    font-family: 'Quicksand';
    background-color: lightslategray;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 30px;
}

.gameTitle{
    color:yellow;
}

.groupGame{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.cell {
    font-family: 'Gloria Hallelujah';
    text-transform: uppercase;
    width: 200px;
    height: 200px;
    border: 3px solid darkgray;
    cursor: pointer;
    line-height: 190px;
    font-size: 150px;
    box-shadow: 4px 4px gray;
}

.cell:hover{
    background-color: rgb(241, 241, 144);
}

table, th, td{
    /* border: 2px solid red; */
    display: absolute;
    color: rgb(5, 4, 90);
}

table{
    width: 500px;
    margin: 0 auto;
    display: absolute;
}

button{
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 20px;
    color: black;
    background-color: rgb(255, 221, 72);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 3px 4px rgb(158, 158, 79);
}

.popup1{
    /* border: 1px solid red; */
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 100vw;
    max-height: 730px;
    margin: 0 auto;
    color: white;
    position: absolute;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center ;
    display: none;
    flex-flow: column;
}

.popup1.show{
    display: flex;
}

.WinPic1{
    width: 300px;
    height: 300px;
    margin: 20px;
    display: block;
    align-items: center;
    text-align: center;
}

.popup2{
    /* border: 1px solid red; */
    max-width: 100vw;
    max-height: 730px;
    margin: 0 auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center ;
    display: none;
    flex-flow: column;
}

.popup2.show{
    display: flex;
}

.WinPic2{
    width: 300px;
    height: 300px;
    margin: 20px;
    align-items: center;
    text-align: center;
}

.popup3{
    max-width: 100vw;
    max-height: 730px;
    margin: 0 auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center ;
    display: none;
    flex-flow: column;
}

.popup3.show{
    display: flex;
}

.WinPic3{
    width: 300px;
    height: 300px;
    margin: 20px;
    align-items: center;
    text-align: center;
}




