

h1{
    color: red;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: lightblue;
    padding: 10px;


}
.grid-item{
    border: 1px solid red;
    text-align: center;
    padding: 10px;
    aspect-ratio: 1;
    
}

